
  
  .form {
    width: 100%;
    max-width: 400px;
    margin: 64px auto 0;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 24px 32px;
    border-radius: 11px;
  }
    .form-title {
      font-size: 28px;
      font-weight: 700;
      color: #21325e;
      text-align: center;
      margin-bottom: 32px;
    }
  
    .form-group {
      margin-bottom: 24px;
    }
      input,
      textarea {
        display: inline-block;
        width: 100%;
        padding: 16px 8px;
        font-family: inherit;
        font-size: 14px;
        color: #000 !important;
        border: none;
        outline: none;
      }
      input::placeholder,
      textarea::placeholder {
          color: #37595e;
        }
  
        input:focus,
      textarea:focus {
          border-color: #21325e;
        }
      
  
      input {
        border-bottom: 1px solid #ddd;
      }
  
      textarea {
        border: 1px solid #ddd;
        height: 100px;
        resize: none;
        border-radius: 11px;
      }
    
  
    .btn {
      display: inline-block;
      border: none;
      outline: none;
      background-color: #21325e;
      color: #fff;
      font-family: inherit;
      font-size: 14px;
      padding: 16px 32px;
      border-radius: 1000px;
      cursor: pointer;
    }
  
  
  @media screen and (min-width: 768px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  
    .form {
      max-width: 800px;
    }
  
    .btn {
      grid-column: 1 / -1;
      justify-self: end;
    }
  }